head, body {
  overflow-x: hidden;
}

#root > div {
  min-height: 100vh;
  padding: 0 !important;
}

main {
  flex: 1;
  overflow-x: hidden;
  padding: 20px;
}

.spinnerContainer {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.ql-editor {
  height: 80px;
  overflow-y: auto;
}

.pagination-container {
  text-align: center;
  box-sizing: border-box;
  display: block;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
  margin-left: 1px;
  margin-right: 1px;
}

.pagination > li > a {
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #DBDBDB;
  text-decoration: none;
}

.pagination .active > a {
  color: white;
  background-color: #337AB7;
  border: 1px solid #337AB7;
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.clickableRow,
.clickableCell {
  cursor: pointer;
}

.fullWidthTable {
  min-width: 1200px;
}

.sideBarItem {
  padding: 10px 30px !important;
}

.sideBarItem.active {
  background-color: #dfdfdf;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container > input {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.react-autosuggest__container {
  padding-right: 40px;
  padding-left: 40px;
}

.react-autosuggest__input {
  padding-right: 10px;
  padding-left: 10px;
}

.react-autosuggest__suggestions-list {
  margin-top: 4px;
  padding-left: 10px;
  padding-top: 2px;
}

.react-autosuggest__suggestion {
  padding-top: 6px;
  padding-bottom: 6px;
  list-style: none;
  cursor: pointer;
}

.react-autosuggest__input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding-left: 10px;
}

