body {
  margin-top: 70px;
}

.spinnerContainer {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.ql-editor{
  height: 80px;
  overflow-y: auto;
}
